---
title: Best of
permalink: /best-of/
---

{% if site.data.starthere %}
<p class="f7 silver i mt0 mb3">hand-picked, not algorithmic</p>
{% if site.data.starthere.intro %}
<p class="mt0 mb4 dark-gray lh-copy">{{ site.data.starthere.intro }}</p>
{% endif %}
<ol class="list pa0 ma0">
  {% for pick in site.data.starthere.picks %}
    {% assign matched = site.posts | where_exp: "p", "p.url contains pick.slug" | first %}
    {% if matched %}
    <li class="mv3 pb3 bb b--light-gray start-here-item">
      <a href="{{ site.url }}{{ matched.url }}" class="db link dark-gray hover-mid-gray">
        <div class="f5 fw6 mb1" style="font-family: 'Cousine', monospace;">{{ matched.title }}</div>
        <div class="lh-copy mid-gray">{{ pick.blurb }}</div>
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ol>
{% endif %}
